
# Ignore system files and sensitive data
*.log
*.tmp
*.dat
.DS_Store
Thumbs.db
node_modules/
.env
AppData/
*.regtrans-ms
*.blf
NTUSER.*

# Ignore IDE and editor stuff
.vscode/
.idea/

# Ignore OS and user folders
Desktop/
Downloads/
Favorites/
Links/
Music/
Pictures/
Videos/
Documents/
Saved Games/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
matchme-backend/target/
target/
match-me\.continue
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

